section.instagram 
   .container
    .instagram__inner 
      img.none(src="images/instagram.webp", alt="alt")
      img(src="images/instagram3.webp", alt="alt")
      img(src="images/instagram4.webp", alt="alt")
      img.none(src="images/instagram2.webp", alt="alt")
      .instagram__epileps 
         strong Наш инстаграм
         a(href="#") 
            +icon('instagram__icon')
            |sushiman_chita
         img.instagram__ellipse(src="images/instagram__ellipse.webp", alt="alt")