.container 
      .cards__border-top
      include ../breadcrumbs/breadcrumbs
      .company.title
         h3 О компании
         section
            div
               <!-- Основной контейнер слайдера -->
               .company__swiper-container
                 <!-- Дополнительная необходимая обертка -->
                 .swiper-wrapper
                   <!-- Слайды -->
                   .swiper-slide 
                     img(src="images/company.webp" alt="alt")
                   .swiper-slide 
                     img(src="images/company.webp" alt="alt")
                   .swiper-slide 
                     img(src="images/company.webp" alt="alt")
               
                 <!-- Если нам нужна пагинация -->
                 .company__swiper-pagination
               strong Sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae 
               <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt.</p>
               <ul>
                  <li>
                     h4 At vero eos et accusamus et iusto odio
                  </li>
                  <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</li>
                  <li>Рerspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</li>
                  <li>Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quaeillo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</li>
               </ul>
               <ol>
                  <li>
                     h4 Et accusamus et iusto odio
                  </li>
                  <li>1 Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</li>
                  <li>2. Рerspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</li>
                  <li>3. Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quaeillo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</li>
                  <li>
                     <blockquote><img src="images/quote.webp" alt="alt" /> Omnis iste natus error sit voluptatem accusantium doloremque totam rem aperiam ipsa, quae illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explica</blockquote>
                  </li>
               </ol>
               h4 Фотогалерея
               <div class="company__grid">
                  <a href="images/company__foto.webp" data-fancybox="gallery">
                     .company__hover
                        img(src="images/Search.webp" alt="alt")
                     img(src="images/company__foto.webp" alt="alt")
                  </a>
                     <a href="images/company__foto.webp" data-fancybox="gallery">
                        .company__hover
                           img(src="images/Search.webp" alt="alt")
                        img(src="images/company__foto.webp" alt="alt")
                  </a>
                     <a href="images/company__foto.webp" data-fancybox="gallery">
                        .company__hover
                           img(src="images/Search.webp" alt="alt")
                        img(src="images/company__foto.webp" alt="alt")
                  </a>
                     <a href="images/company__foto.webp" data-fancybox="gallery">
                        .company__hover
                           img(src="images/Search.webp" alt="alt")
                        img(src="images/company__foto.webp" alt="alt")
                  </a>
                     <a href="images/company__foto.webp" data-fancybox="gallery">
                        .company__hover
                           img(src="images/Search.webp" alt="alt")
                        img(src="images/company__foto.webp" alt="alt")
                  </a>
                     <a href="images/company__foto.webp" data-fancybox="gallery">
                        .company__hover
                           img(src="images/Search.webp" alt="alt")
                        img(src="images/company__foto.webp" alt="alt")
                  </a>
               </div>
               h4 Пример таблицы
               <div>
                  <table>
                     <tbody>
                        <tr>
                           <th>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</th>
                           <th>Стоимость</th>
                        </tr>
                        <tr>
                           <td>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                           <td>10 500 руб.</td>
                        </tr>
                        <tr>
                           <td>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                           <td>31 130 руб.</td>
                        </tr>
                        <tr>
                           <td>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                           <td>10 500 руб.</td>
                        </tr>
                        <tr>
                           <td>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                           <td>31 130 руб.</td>
                        </tr>
                        <tr>
                           <td>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                           <td>10 500 руб.</td>
                        </tr>
                        <tr>
                           <td>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                           <td>31 130 руб.</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            aside
               ul 
                  <li><a href="#">О компании</a></li>
                  <li><a href="#">Наши преимушества</a></li>
                  <li><a href="#">Поставщикам</a></li>
                  <li><a href="#">Сертификаты</a></li>
                  <li><a href="#">Документы</a></li>
                  <li><a href="#">Наша команда</a></li>
               <div class="company__grid margin">
                  <a href="images/company__foto.webp" data-fancybox="gallery2">
                     .company__hover
                        img(src="images/Search.webp" alt="alt")
                     img(src="images/company__foto.webp" alt="alt")
                  </a>
                     <a href="images/company__foto.webp" data-fancybox="gallery2">
                        .company__hover
                           img(src="images/Search.webp" alt="alt")
                        img(src="images/company__foto.webp" alt="alt")
                  </a>
                     <a href="images/company__foto.webp" data-fancybox="gallery2">
                        .company__hover
                           img(src="images/Search.webp" alt="alt")
                        img(src="images/company__foto.webp" alt="alt")
                  </a>
               </div>
