section.address 
   .address__blog-map
        .address__map#map(
           data-metka="[51.97516107208106,113.27185299999995]"  
           data-metka2="[52.03228357208567,113.44739299999996]"
           data-metka3="[52.05879857203995,113.48445749999999]"
           data-metka4="[52.07708507205848,113.37122449999997]"
        )
                    
             
              


