section.address 
   .address__map.js__address-map
   .address__info 
       .address__info-item.js__address-click.app-actions(data-scene="preparation")
          img.address__line-images(src="images/address__line.webp", alt="alt")
          img(src="images/address.webp", alt="alt")
          strong мкр. ТУСМ-4, 
           |вл. 7 , стр. 1
       .address__info-item.js__address-click.app-actions.hidden(data-scene="preparation")
          img.address__line-images(src="images/address__line.webp", alt="alt")
          img(src="images/address.webp", alt="alt")
          strong Проспект 
           |Советов, 1 
       .address__info-item.js__address-click.app-actions.hidden(data-scene="preparation")
          img.address__line-images(src="images/address__line.webp", alt="alt")
          img(src="images/address.webp", alt="alt")
          strong Красной 
           |звезды, 12а
       .address__info-item.js__address-click.app-actions.hidden(data-scene="preparation")
          img.address__line-images(src="images/address__line.webp", alt="alt")
          img(src="images/address.webp", alt="alt")
          strong Назара 
           |Широких, 8а 
      
                    
             
              


