.basket.title
   .container 
      .cards__border-top
      include ../breadcrumbs/breadcrumbs
      .basket__inner 
         .basket__tovar 
            h3 Корзина 
               button(type="submit")
                  +icon('basket__reset')
                  |Очистить корзину
            .basket__blog 
               img(src="images/basket.webp" alt="alt")
               +icon('basket__reset', 'basket__position')
               .basket__text 
                  a(href="#") Филадельфия с креветкой
                  span 280 г 
                     span 10 роллов
                  .basket__border 
                     .basket__number 
                        span Количество:
                        .basket__value
                           button.js__basket-minus(type="button")
                             +icon('basket__minus')
                           input.js__basket-value(type="number" name="field" value="1") 
                           button.js__basket-plus(type="button")
                             +icon('basket__plus')
                     .basket__price 
                        span 650 ₽
                        strong 650 ₽
            .basket__blog 
               img(src="images/basket2.webp" alt="alt")
               +icon('basket__reset', 'basket__position')
               .basket__text 
                  a(href="#") Филадельфия с креветкой
                  span 280 г 
                     span 10 роллов
                  .basket__border 
                     .basket__number 
                        span Количество:
                        .basket__value
                           button.js__basket-minus(type="button")
                             +icon('basket__minus')
                           input.js__basket-value(type="number" name="field" value="1") 
                           button.js__basket-plus(type="button")
                             +icon('basket__plus')
                     .basket__price 
                        strong 650 ₽
            .basket__blog 
               img(src="images/basket3.webp" alt="alt")
               +icon('basket__reset', 'basket__position')
               .basket__text 
                  a(href="#") Филадельфия с креветкой
                  span 280 г 
                     span 10 роллов
                  .basket__border 
                     .basket__number 
                        span Количество:
                        .basket__value
                           button.js__basket-minus(type="button")
                             +icon('basket__minus')
                           input.js__basket-value(type="number" name="field" value="1") 
                           button.js__basket-plus(type="button")
                             +icon('basket__plus')
                     .basket__price 
                        span 650 ₽
                        strong 650 ₽
            .basket__blog 
               img(src="images/basket4.webp" alt="alt")
               +icon('basket__reset', 'basket__position')
               .basket__text 
                  a(href="#") Филадельфия с креветкой
                  span 280 г 
                     span 10 роллов
                  .basket__border 
                     .basket__number 
                        span Количество:
                        .basket__value
                           button.js__basket-minus(type="button")
                             +icon('basket__minus')
                           input.js__basket-value(type="number" name="field" value="1") 
                           button.js__basket-plus(type="button")
                             +icon('basket__plus')
                     .basket__price 
                        span 650 ₽
                        strong 650 ₽
         .basket__oplata
           strong.basket__order  Ваш заказ
             span 5 блюд
           strong.basket__summa Сумма заказа
               span 5 390 ₽
           strong.basket__skidka Скидка:
               span -1 000 ₽
           .basket__border-dotted 
           strong.basket__itog Итого
              span 4 390 ₽
           a(href="#") 
            |Перейти к оплате
            +icon('basket__arrows')
           p Оформление заказа займет всего 1-2 минуты
      .cards 
        h2 Смотрите также
        .tovar 
         .cards__swiper-inner
            .cards__swiper-container
               .swiper-wrapper.tovar__items 
                  .swiper-slide.tovar__item 
                     a(href="#")
                        img(src="images/tovar__item.webp" alt="alt")
                        img.tovar__shearch(src="images/tovar__shearch.webp" alt="alt")
                     .tovar__text 
                        span 
                           span 280 г 
                           |10 роллов
                        strong 
                           a(href="#")
                              |Филадельфия с креветкой
                        p Рис, нори, лосось, креветка, 
                           |крем-сыр, огурец
                        .tovar__price 
                           strong 650 ₽
                           span 650 ₽
                        <svg width="340" height="61" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-252 61a3.47 3.47 0 0 1 3.469-3.47h476.47a13.583 13.583 0 0 0 12.656-8.652l15.667-40.225A13.582 13.582 0 0 1 268.918 0H390v61h-642Z" fill="url(#a)"/><defs><linearGradient id="a" x1="390" y1="0" x2="174.758" y2="335.109" gradientUnits="userSpaceOnUse"><stop stop-color="#F16500"/><stop offset="1" stop-color="#F90"/></linearGradient></defs></svg>
                        +icon('tovar__basket', 'tovar__basket')
                  .swiper-slide.tovar__item 
                     a(href="#")
                        img(src="images/tovar__item2.webp" alt="alt")
                        img.tovar__shearch(src="images/tovar__shearch.webp" alt="alt")
                     .tovar__text 
                        span 
                           span 280 г 
                           |10 роллов
                        strong 
                           a(href="#")
                              |Филадельфия с креветкой
                        p Рис, нори, лосось, креветка, 
                           |крем-сыр, огурец
                        .tovar__price 
                           strong 650 ₽
                           span 650 ₽
                        <svg width="340" height="61" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-252 61a3.47 3.47 0 0 1 3.469-3.47h476.47a13.583 13.583 0 0 0 12.656-8.652l15.667-40.225A13.582 13.582 0 0 1 268.918 0H390v61h-642Z" fill="url(#a)"/><defs><linearGradient id="a" x1="390" y1="0" x2="174.758" y2="335.109" gradientUnits="userSpaceOnUse"><stop stop-color="#F16500"/><stop offset="1" stop-color="#F90"/></linearGradient></defs></svg>
                        +icon('tovar__basket', 'tovar__basket')
                  .swiper-slide.tovar__item 
                     a(href="#")
                        img(src="images/tovar__item3.webp" alt="alt")
                        img.tovar__shearch(src="images/tovar__shearch.webp" alt="alt")
                     .tovar__text 
                        span 
                           span 280 г 
                           |10 роллов
                        strong 
                           a(href="#")
                              |Филадельфия с креветкой
                        p Рис, нори, лосось, креветка, 
                           |крем-сыр, огурец
                        .tovar__price 
                           strong 650 ₽
                           span 650 ₽
                        <svg width="340" height="61" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-252 61a3.47 3.47 0 0 1 3.469-3.47h476.47a13.583 13.583 0 0 0 12.656-8.652l15.667-40.225A13.582 13.582 0 0 1 268.918 0H390v61h-642Z" fill="url(#a)"/><defs><linearGradient id="a" x1="390" y1="0" x2="174.758" y2="335.109" gradientUnits="userSpaceOnUse"><stop stop-color="#F16500"/><stop offset="1" stop-color="#F90"/></linearGradient></defs></svg>
                        +icon('tovar__basket', 'tovar__basket')
                  .swiper-slide.tovar__item 
                     a(href="#")
                        img(src="images/tovar__item4.webp" alt="alt")
                        img.tovar__shearch(src="images/tovar__shearch.webp" alt="alt")
                     .tovar__text 
                        span 
                           span 280 г 
                           |10 роллов
                        strong 
                           a(href="#")
                              |Филадельфия с креветкой
                        p Рис, нори, лосось, креветка, 
                           |крем-сыр, огурец
                        .tovar__price 
                           strong 650 ₽
                           span 650 ₽
                        <svg width="340" height="61" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-252 61a3.47 3.47 0 0 1 3.469-3.47h476.47a13.583 13.583 0 0 0 12.656-8.652l15.667-40.225A13.582 13.582 0 0 1 268.918 0H390v61h-642Z" fill="url(#a)"/><defs><linearGradient id="a" x1="390" y1="0" x2="174.758" y2="335.109" gradientUnits="userSpaceOnUse"><stop stop-color="#F16500"/><stop offset="1" stop-color="#F90"/></linearGradient></defs></svg>
                        +icon('tovar__basket', 'tovar__basket')
                  .swiper-slide.tovar__item 
                     a(href="#")
                        img(src="images/tovar__item4.webp" alt="alt")
                        img.tovar__shearch(src="images/tovar__shearch.webp" alt="alt")
                     .tovar__text 
                        span 
                           span 280 г 
                           |10 роллов
                        strong 
                           a(href="#")
                              |Филадельфия с креветкой
                        p Рис, нори, лосось, креветка, 
                           |крем-сыр, огурец
                        .tovar__price 
                           strong 650 ₽
                           span 650 ₽
                        <svg width="340" height="61" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-252 61a3.47 3.47 0 0 1 3.469-3.47h476.47a13.583 13.583 0 0 0 12.656-8.652l15.667-40.225A13.582 13.582 0 0 1 268.918 0H390v61h-642Z" fill="url(#a)"/><defs><linearGradient id="a" x1="390" y1="0" x2="174.758" y2="335.109" gradientUnits="userSpaceOnUse"><stop stop-color="#F16500"/><stop offset="1" stop-color="#F90"/></linearGradient></defs></svg>
                        +icon('tovar__basket', 'tovar__basket')
                  .swiper-slide.tovar__item 
                     a(href="#")
                        img(src="images/tovar__item3.webp" alt="alt")
                        img.tovar__shearch(src="images/tovar__shearch.webp" alt="alt")
                     .tovar__text 
                        span 
                           span 280 г 
                           |10 роллов
                        strong 
                           a(href="#")
                              |Филадельфия с креветкой
                        p Рис, нори, лосось, креветка, 
                           |крем-сыр, огурец
                        .tovar__price 
                           strong 650 ₽
                           span 650 ₽
                        <svg width="340" height="61" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-252 61a3.47 3.47 0 0 1 3.469-3.47h476.47a13.583 13.583 0 0 0 12.656-8.652l15.667-40.225A13.582 13.582 0 0 1 268.918 0H390v61h-642Z" fill="url(#a)"/><defs><linearGradient id="a" x1="390" y1="0" x2="174.758" y2="335.109" gradientUnits="userSpaceOnUse"><stop stop-color="#F16500"/><stop offset="1" stop-color="#F90"/></linearGradient></defs></svg>
                        +icon('tovar__basket', 'tovar__basket')
                  .swiper-slide.tovar__item 
                     a(href="#")
                        img(src="images/tovar__item2.webp" alt="alt")
                        img.tovar__shearch(src="images/tovar__shearch.webp" alt="alt")
                     .tovar__text 
                        span 
                           span 280 г 
                           |10 роллов
                        strong 
                           a(href="#")
                              |Филадельфия с креветкой
                        p Рис, нори, лосось, креветка, 
                           |крем-сыр, огурец
                        .tovar__price 
                           strong 650 ₽
                           span 650 ₽
                        <svg width="340" height="61" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-252 61a3.47 3.47 0 0 1 3.469-3.47h476.47a13.583 13.583 0 0 0 12.656-8.652l15.667-40.225A13.582 13.582 0 0 1 268.918 0H390v61h-642Z" fill="url(#a)"/><defs><linearGradient id="a" x1="390" y1="0" x2="174.758" y2="335.109" gradientUnits="userSpaceOnUse"><stop stop-color="#F16500"/><stop offset="1" stop-color="#F90"/></linearGradient></defs></svg>
                        +icon('tovar__basket', 'tovar__basket')
                  .swiper-slide.tovar__item 
                     a(href="#")
                        img(src="images/tovar__item.webp" alt="alt")
                        img.tovar__shearch(src="images/tovar__shearch.webp" alt="alt")
                     .tovar__text 
                        span 
                           span 280 г 
                           |10 роллов
                        strong 
                           a(href="#")
                              |Филадельфия с креветкой
                        p Рис, нори, лосось, креветка, 
                           |крем-сыр, огурец
                        .tovar__price 
                           strong 650 ₽
                           span 650 ₽
                        <svg width="340" height="61" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-252 61a3.47 3.47 0 0 1 3.469-3.47h476.47a13.583 13.583 0 0 0 12.656-8.652l15.667-40.225A13.582 13.582 0 0 1 268.918 0H390v61h-642Z" fill="url(#a)"/><defs><linearGradient id="a" x1="390" y1="0" x2="174.758" y2="335.109" gradientUnits="userSpaceOnUse"><stop stop-color="#F16500"/><stop offset="1" stop-color="#F90"/></linearGradient></defs></svg>
                        +icon('tovar__basket', 'tovar__basket')
            .cards__swiper-button-prev
               +icon('cards__prev')
            .cards__swiper-button-next
               +icon('cards__next')

    
              
           
            