script(src="./libs/jquery-3.5.1.min.js") 
script(src="./libs/swiper-bundle.min.js") 
script(src="./libs/jquery.mCustomScrollbar.concat.min.js") 
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU") 
script(src="./libs/jquery.maskedinput.min.js") 
script(src="./libs/jquery.fancybox.min.js")
script(src="./js/main.js") 