section.about 
   .container 
       .about__inner 
           img(src="images/about.webp", alt="alt")
           img(src="images/about2.webp", alt="alt")
           .about__elipse 
             strong  О нас
             p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
             a Читать продолжение
               +icon('about__arrow')
             img(src="images/abour__Ellipse.webp", alt="alt")
               