.contact.title
  .container 
     .cards__border-top
  .contact__inner  
         .contact__info 
            include ../breadcrumbs/breadcrumbs
            h3 Контакты
            .contact__phone 
              img(src="images/contact__phone.webp", alt="alt")
              span Телефон для заявок:
              strong 577-755 
            .contact__phone.margin
              img(src="images/contact__time.webp", alt="alt")
              span Прием заявок:
              strong с 11:00 до 22:30 
            a(href='#').contact__map.js__contact-click.app-actions(data-scene="preparation")  
               img(src="images/contact__map.webp", alt="alt")
               |мкр. ТУСМ-4, вл. 7 , стр. 1
               <svg width="13" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m2 2 9 9-9 9" stroke="url(#a)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><defs><linearGradient id="a" x1="11" y1="2" x2=".725" y2="2.76" gradientUnits="userSpaceOnUse"><stop stop-color="#F16500"/><stop offset="1" stop-color="#F90"/></linearGradient></defs></svg>
            a(href='#').contact__map.js__contact-click.app-actions.hidden(data-scene="preparation")  
               img(src="images/contact__map.webp", alt="alt")
               |Проспект Советов, 1 
               <svg width="13" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m2 2 9 9-9 9" stroke="url(#a)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><defs><linearGradient id="a" x1="11" y1="2" x2=".725" y2="2.76" gradientUnits="userSpaceOnUse"><stop stop-color="#F16500"/><stop offset="1" stop-color="#F90"/></linearGradient></defs></svg>
            a(href='#').contact__map.js__contact-click.app-actions.hidden(data-scene="preparation")  
               img(src="images/contact__map.webp", alt="alt")
               |Красной звезды, 12а
               <svg width="13" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m2 2 9 9-9 9" stroke="url(#a)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><defs><linearGradient id="a" x1="11" y1="2" x2=".725" y2="2.76" gradientUnits="userSpaceOnUse"><stop stop-color="#F16500"/><stop offset="1" stop-color="#F90"/></linearGradient></defs></svg>
            a(href='#').contact__map.js__contact-click.app-actions.hidden(data-scene="preparation")  
               img(src="images/contact__map.webp", alt="alt")
               |Назара Широких, 8а 
               <svg width="13" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m2 2 9 9-9 9" stroke="url(#a)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><defs><linearGradient id="a" x1="11" y1="2" x2=".725" y2="2.76" gradientUnits="userSpaceOnUse"><stop stop-color="#F16500"/><stop offset="1" stop-color="#F90"/></linearGradient></defs></svg>
         .contact__maps.js__address-map
