.contact.title
  .container 
     .cards__border-top
  .contact__inner  
         .contact__info 
            include ../breadcrumbs/breadcrumbs
            h3 Контакты
            .contact__phone 
              img(src="images/contact__phone.webp", alt="alt")
              span Телефон для заявок:
              strong 577-755 
            .contact__phone.margin
              img(src="images/contact__time.webp", alt="alt")
              span Прием заявок:
              strong с 11:00 до 22:30 
            .contact__map  
               img(src="images/contact__map.webp", alt="alt")
               |мкр. ТУСМ-4, вл. 7 , стр. 1
            .contact__map  
               img(src="images/contact__map.webp", alt="alt")
               |Проспект Советов, 1 
            .contact__map  
               img(src="images/contact__map.webp", alt="alt")
               |Красной звезды, 12а
            .contact__map  
               img(src="images/contact__map.webp", alt="alt")
               |Назара Широких, 8а 
         .contact__maps.js__address-map
