@media (max-width:1500px)  
   .header__top-inner  
      justify-content: space-between
   .header__logo,
   .header__role,
   .header__top ul,
   .header strong,
   .header__instagram,
   .header__phone
      margin-right: 20px

@media (max-width:1350px)
  .header__role 
     display: none

@media (max-width:1150px) 
   .header__top ul 
      flex-wrap: wrap
   .header strong,
   .header__basket,
   .header__phone
      flex: 0 0 auto

@media (max-width: 991px) 
   .header 
      display: none
   .headermodail
      display: block

