html,
body
    height: 100%
    font-family: $gt

.container 
    max-width: 1450px
    padding: 0px 15px
    margin: 0px auto

.wrapper
    display: flex
    flex-direction: column
    min-height: 100%

.main
    flex: 1 0 auto

.footer
    flex: 0 0 auto

