extends base/pug/base

append variables
    - var title = 'Карточка товара'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block header
    include ./components/header/header
block content
    //- Подключать тут
    include ./components/cards/cards
block footer  
    include ./components/footer/footer