extends base/pug/base

append variables
    - var title = 'Каталог'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block header
    include ./components/header/header
block content
    //- Подключать тут
    include ./components/catalog/catalog
block footer  
    include ./components/footer/footer