extends base/pug/base

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block header
    include ./components/header/header
block content
    //- Подключать тут
    include ./components/slider/slider
    include ./components/tovar/tovar
    include ./components/instagram/instagram
    include ./components/news/news
    include ./components/about/about
    include ./components/address/address
block footer  
    include ./components/footer/footer