<!-- Основной контейнер слайдера -->
section.slider 
   .slider__inner
      a(href="#").slider__margin.order
         img(src="images/slider__prev.webp", alt="alt")
      .slider__swiper-container.slider__margin
        <!-- Дополнительная необходимая обертка -->
        .swiper-wrapper
           <!-- Слайды -->
           .swiper-slide
              a(href="#")  
                img(src="images/slider__active.webp" alt="alt")
           .swiper-slide 
              a(href="#")  
                img(src="images/slider__active.webp" alt="alt")
           .swiper-slide 
              a(href="#")  
                img(src="images/slider__active.webp" alt="alt")
           .swiper-slide
              a(href="#")  
                img(src="images/slider__active.webp" alt="alt")
           .swiper-slide 
              a(href="#")  
                img(src="images/slider__active.webp" alt="alt")
           .swiper-slide 
              a(href="#")  
                img(src="images/slider__active.webp" alt="alt")
      
             
        <!-- Если нам нужна пагинация -->
        .slider__swiper-pagination
      a(href="#").slider__margin.order1
         img(src="images/slider__next.webp", alt="alt")
   