.slider  
   &__inner
       display: flex
       max-width: 1841px
       margin: 0 auto
       padding: 0px 15px
   &__margin:not(:last-child) 
      margin-right: 20px
   &__swiper-container
        overflow: hidden
        width: 940px
        padding-bottom: 30px
        position: relative
   &__swiper-container.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
         margin-right: 7px
         margin-left: 7px
   &__swiper-pagination
      position: absolute
      bottom: 0px
      display: flex
      align-items: center
      justify-content: center
      .swiper-pagination-bullet
         width: 10px
         height: 10px
         background: #201D1E
         opacity: 0.1
         transition: all 0.4 ease
      .swiper-pagination-bullet.swiper-pagination-bullet-active
          opacity: 1
   .slidermenu__swiper-container
      margin-bottom: 130px
      margin-top: 30px
      overflow: hidden
   .slidermenu__swiper-container .swiper-wrapper
      display: grid
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr))
      grid-column-gap: 20px
      grid-row-gap: 20px
   .slidermenu__swiper-container .swiper-slide 
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      padding: 20px
      background: #FFFFFF
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05)
      border-radius: 20px
      min-height: 170px
      transition: all 0.4s ease
      &:hover 
         border: 1px solid #f1650047
         box-shadow: 0px 4px 30px rgba(234, 105, 12, 0.1)
      img
         margin-bottom: 9px
      strong
         font-weight: 600
         font-size: 18px
         line-height: 20px
         color: #201D1E
      span 
         font-weight: 400
         font-size: 15px
         line-height: 20px
         color: #201D1E
    
            
        