<!-- Основной контейнер слайдера -->
section.slider 
   .slider__inner
      a(href="#").slider__margin.order
         img(src="images/slider__prev.webp", alt="alt")
      .slider__swiper-container.slider__margin
        <!-- Дополнительная необходимая обертка -->
        .swiper-wrapper
           <!-- Слайды -->
           .swiper-slide
              a(href="#")  
                img(src="images/slider__active.webp" alt="alt")
           .swiper-slide 
              a(href="#")  
                img(src="images/slider__active.webp" alt="alt")
           .swiper-slide 
              a(href="#")  
                img(src="images/slider__active.webp" alt="alt")
           .swiper-slide
              a(href="#")  
                img(src="images/slider__active.webp" alt="alt")
           .swiper-slide 
              a(href="#")  
                img(src="images/slider__active.webp" alt="alt")
           .swiper-slide 
              a(href="#")  
                img(src="images/slider__active.webp" alt="alt")
      
             
        <!-- Если нам нужна пагинация -->
        .slider__swiper-pagination
      a(href="#").slider__margin.order1
         img(src="images/slider__next.webp", alt="alt")
   <!-- Основной контейнер слайдера -->
   .container
    .slidermenu__swiper-container
      <!-- Дополнительная необходимая обертка -->
      .swiper-wrapper
        <!-- Слайды -->
        a(href="#").swiper-slide 
           img(src="images/slider__item.webp", alt="alt")
           strong Холодные
           span роллы
        a(href="#").swiper-slide 
           img(src="images/slider__item2.webp", alt="alt")
           strong Запеченные
           span роллы
        a(href="#").swiper-slide 
           img(src="images/slider__item3.webp", alt="alt")
           strong Жареные
           span роллы
        a(href="#").swiper-slide 
           img(src="images/slider__item4.webp", alt="alt")
           strong Сеты
        a(href="#").swiper-slide 
           img(src="images/slider__item5.webp", alt="alt")
           strong Пицца
        a(href="#").swiper-slide 
           img(src="images/slider__item6.webp", alt="alt")
           strong Закуски
        a(href="#").swiper-slide 
           img(src="images/slider__item7.webp", alt="alt")
           strong Соусы
      
